a {
    text-decoration: none;
    color: #0A2640;    
}

li {
    list-style-type: none;
}
/* Variables */

/* head */
.logo-pic {
    
    width: 25.91px;
    height: 33.158px;
}

.logo-pic-first {
    
    width: 18.024px;
    height: 13.263px;
    border-radius: 0px 12.014px 12.014px 0px;
    background: var(--Dark-Blue, #0A2640);
}

.logo-pic-last {
    width: 25.91px;
    height: 17.684px;
    border-radius: 0px 12.014px 12.014px 0px;
    background: var(--Dark-Blue, #0A2640);
}

.logo-title {
font-family: Manrope;
font-size: 43.25px;
font-style: normal;
font-weight: 700;
line-height: 33.639px; /* 77.778% */
}

