html {
  width: 1400px;
}

a {
  text-decoration: none;
  color: #0a2640;
}

li {
  font-family: Open Sans;
  list-style-type: none;
}

/* Variables */
/* head */
.body {
  margin: 0;
}
.header {
  display: grid;
  grid-template-columns: 162px 1fr;
  margin: 56px 100px 0 100px;
}

.logo {
  display: grid;
  grid-template-columns: 25px 125px;
}
.logo-pic {
  align-self: center;
}

.logo-pic-first {
  width: 18.024px;
  height: 13.263px;
  border-radius: 0px 12.014px 12.014px 0px;
  background: #0a2640;
  margin: 0;
}

.logo-pic-last {
  width: 25.91px;
  height: 17.684px;
  border-radius: 0px 12.014px 12.014px 0px;
  background: #0a2640;
  margin: 2px 0 0 0;
}

.logo-title {
  align-self: center;
  font-family: Manrope;
  font-size: 43.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.639px; /* 77.778% */
  margin-left: 11px;
}
.header-nav {
  justify-self: end;
}
.header-nav ul {
  width: 419px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 40px;
  padding: 0;
}

.header-nav-link {
  color: #0a2640;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.header-login-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 24px;
  border: 2px solid #0a2640;
  background: none;
  width: 128px;
  height: 40px;
}

/* main */
.border {
  width: 1200px;
  text-align: center;
  margin-left: 100px;
  border-bottom: 1px solid #0a2640;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-content {
  display: grid;
}
.last-article {
  text-align: center;
}
.last-article-link {
  margin: 40px 100px 72px 100px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 28px 145px 32px auto;
  grid-template-areas:
    "picture ."
    "picture category"
    "picture title"
    "picture author"
    "picture .";
}

.main-title-blog {
  color: #0a2640;
  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
}

.main-title {
  color: #0a2640;
  text-align: center;

  /* Headings/TextXXXL */
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px; /* 131.25% */
  margin: 0;
  padding-bottom: 27px;
}

.last-article-picture {
  border-radius: 24px;
  grid-area: picture;
  margin-right: 100px;
}
.article-category-date {
  grid-area: category;
  text-align: left;
}
.article-category {
  color: #0a2640;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  margin: 0;
  padding-right: 12px;
}
.article-date, .date-link {
  color: #777;

  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.article-title-big {
  color: #000;
  grid-area: title;
  /* Headings/Text XXL */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  margin: 0;
  margin-top: 12px;
  text-align: left;
}

.article-author {
  grid-area: author;
  color: #000;
  margin-top: 20px;
  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-align: left;
}

.author-avatar {
  border-radius: 32px;
  vertical-align: middle;
  padding-right: 12px;
}

.latest-news {
  margin: 96px 202px 0 202px;
}
.latest-news-title {
  margin: 0;
  margin-bottom: 40px;
  color: #000;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}
.articles-grid {
  display: grid;
  column-gap: 44px;
  row-gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 424px;
}
.article-picture {
  height: 209px;
  border-radius: 12px;
}
.article .article-category-date {
  padding: 24px 0 12px 0;
}

.article-title {
  color: #000;
  margin: 0;
  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.article .article-author {
  margin: 0;
}
.button-more-wrapper {
  text-align: center;
}
.news-button-more {
  margin-top: 96px;
  padding: 16px 56px;
  border-radius: 56px;
  background: none;
  color: #0a2640;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.footer {
  margin: 124px 100px 0 100px;
}
.subscribe {
  width: 1200px;
  height: 391px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #0a2640;
}

.subscribe-title {
  padding-top: 72px ;
  width: 716px;
  color: #fff;
  text-align: center;
  margin: 0;
  /* Headings/Text XXL */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.subscribe-email {
  width: 370px;
  height: 56px;
  margin-top: 48px;
  flex-shrink: 0;
  border-radius: 240px;
  border: 2px solid #fff;
  background: #fff;

  text-align: center;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-email::placeholder {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-button {
  margin-left: 24px;
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #65e4a3;
  background: #65e4a3;
  color: #0a2640;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.after-subscribe {
  margin-top: 84px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 179px;
  height: 374px;
}
.company-description {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.company-description-text {
  
  color: #777;
  margin: 0;
  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 96px;
}
.footer-nav ul {
  margin: 0;
  padding: 0;
  width: 150px;
}
.footer-nav-title {
  margin: 0;
  padding-bottom: 32px;
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}
.footer-nav-item {
  padding-bottom: 32px;
}
.footer-nav-link {
  color: #777;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.hiring::after {
  display: inline-block;
  position: relative;
  right: -10px;
  width: 72px;
  height: 30px;
  text-align: center;
  content: "Hiring";
  color: #0a2640;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 215.385% */
  padding: 1px 0;
  border-radius: 120px;
  background: #65e4a3;
}

.copyright {
  
  color: #777;
  margin: 0;
  margin-top: 24px;
  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
