a {
  text-decoration: none;
  color: #0a2640;
}

li {
  font-family: Open Sans;
  list-style-type: none;
}

/* Variables */
/* head */
.body {
  margin: 0;
}
.header {
  display: grid;
  grid-template-columns: 162px 1fr;
  margin: 56px 100px 0 100px;
}

.logo {
  display: grid;
  grid-template-columns: 25px 125px;
}
.logo-pic {
  align-self: center;
}

.logo-pic-first {
  width: 18.024px;
  height: 13.263px;
  border-radius: 0px 12.014px 12.014px 0px;
  background: #0a2640;
  margin: 0;
}

.logo-pic-last {
  width: 25.91px;
  height: 17.684px;
  border-radius: 0px 12.014px 12.014px 0px;
  background: #0a2640;
  margin: 2px 0 0 0;
}

.logo-title {
  align-self: center;
  font-family: Manrope;
  font-size: 43.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.639px; /* 77.778% */
  margin-left: 11px;
}
.header-nav {
  justify-self: end;
}
.header-nav ul {
  width: 419px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 40px;
  padding: 0;
}

.header-nav-link {
  color: #0a2640;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.header-login-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 24px;
  border: 2px solid #0a2640;
  background: none;
  width: 128px;
  height: 40px;
}

/* main */
.main-content {
  display: grid;
}
.last-article {
  text-align: center;
}
.main-title-blog {
  color: #0a2640;
  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
}

.main-title {
  color: #0a2640;
  text-align: center;

  /* Headings/TextXXXL */
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px; /* 131.25% */
  margin: 0;
  padding-bottom: 27px;
}

.last-article-picture {
  border-radius: 24px;
}

.article-category {
  color: #0a2640;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}

.article-date {
  color: #777;

  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.article-title-big {
  color: #000;

  /* Headings/Text XXL */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.article-author {
  color: #000;

  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.author-avatar {
  border-radius: 32px;
}

.latest-news-title {
  color: #000;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.article-picture {
  height: 209px;
  align-self: stretch;
  border-radius: 12px;
}

.article-title {
  color: #000;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.news-button-more {
  padding: 16px 56px;
  border-radius: 56px;
  background: none;
  color: #0a2640;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.subscribe {
  width: 1200px;
  height: 391px;
  border-radius: 12px;
  background: #0a2640;
}

.subscribe-title {
  color: #fff;
  text-align: center;

  /* Headings/Text XXL */
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
}

.subscribe-email {
  width: 370px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 240px;
  border: 2px solid #fff;
  background: #fff;

  text-align: center;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-email::placeholder {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-button {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #65e4a3;
  background: #65e4a3;
  color: #0a2640;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.company-description-text {
  color: #777;

  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer-nav-title {
  color: #000;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.footer-nav-link {
  color: #777;

  /* Paragraphs/Text S */
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.hiring::after {
  content: "Hiring";
  color: #0a2640;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 215.385% */
  padding: 1px 14px;
  border-radius: 120px;
  background: #65e4a3;
}

.copyright {
  color: #777;

  /* Paragraphs/Text XS */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
